.mainContainerFluid {
    background-color: white;
}

#submitButton, #divGenerateButton{
    display : none;
}

.btnLogout {
    right: 61px;
    position: absolute;
}

.listingCat{
    margin-top: 7.2px;
    margin-bottom: 0.85em;
}

.colDay{
    width: 14.28%;
    border-right: 1px solid black;
    height:24px;
    font-size: 0.7em;
}

.colDayMobile{
    border-right: 1px solid black;
}

.dropdown-item {
    font-size: 0.7em;
}

.desktop_show {
    display: none;
}

.desktop_show_th_td {
    display: none;
}


.mobile_show {
    display: block;
}

.mobile_show p {
    font-size: 0.8em;
}

.btnStandard {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5px;
    width: 50px;
    max-width: 150px;
    min-width: 50px;
    min-height: 30px;
}

.btnDelete {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5px;
    max-width: 150px;
    min-width: 50px;
    min-height: 30px;
}

.lineThrough {
    text-decoration: line-through;
  }

  .title {
    color:white;
    background-color: #343A40;
    width: 300px;
    position:absolute;
    left:0;
    display: flex;
    top: 90px;
    justify-content: end;
    padding-right:30px
  }

/************************************************************************************************             1025 */

@media screen and (min-width: 1025px) {
    .desktop_show {
        display: block;
    }

    .desktop_show_th_td {
        display: table-cell;
    }
    
    .mobile_show {
        display: none;
    }

    .btnStandard {
        margin: 20px;
        width: 150px;
    }
    
    .btnDelete {
        margin: 20px;
    }

    .title {
        width: 600px;
        top: 100px;
        padding-right:30px
      }
}
