{% if i is not defined %} {% set i = 1 %} {% endif %}
<div id="" class="container-fluid mobile_show">
    <div class="row bg-info text-dark">Semaine {{ i }}</div>
    <div class="row bg-dark text-info">
        <div class="col-4">Jour</div>
        <div class="col-4">Midi</div>
        <div class="col-4">Soir</div>
    </div>
    {% for day in days %}
        <div class="row border">
            <div class="col-2 bg-dark text-info"><p>{{ day.daySmallname }}</p></div>
            <div class="col-5">
                {{ include('planning/form/_formOneDayBodyMidday.html.twig', {'numberDay': i}, {'numberWeek' : numberWeek}) }}
            </div>
            <div class="col-5">
                {{ include('planning/form/_formOneDayBodyNight.html.twig', {'numberDay': i}, {'numberWeek' : numberWeek}) }}
            </div>
        </div>
    {% endfor %} 
</div>
