<table class="table">
    <tbody>
        <tr>
            <td class="table-dark">Midi</td>
            {{ include('planning/_formOneDayBodyMidday.html.twig') }}
        </tr>
         <tr>
            <td class="table-dark">Soir</td>
            {{ include('planning/_formOneDayBodyNight.html.twig') }}
        </tr>
    </tbody>
</table>