<form method="post" action="{{ path('dish_delete', {'id': dish.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
    <button class="btn btn-danger btn-sm btnDelete" height="20"><i class="fa-solid fa-trash fa-xs mx-1"></i> <p class="mobile_show"> </p><span class="desktop_show">Supprimer</span></button>
</form>
