{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success btn-sm btnStandard">
        <i class="fa-solid fa-floppy-disk fa-xs mx-1"></i>
        <p class="mobile_show"> </p>
        <span class="desktop_show">{{ button_label|default('Enregistrer') }}</span>
    </button>
    
{{ form_end(form) }}
